[Desktop Entry]
Type=Application
Name=QStickyNotes
Exec=QStickyNotes
Icon=/usr/share/QStickyNotes/Icons/QStickyNotes.png
Terminal=false
Categories=Utility;
